.LoginPage {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../Asset/loginbg.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginContainer {
  width: 400px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
}

.LoginContainer input[type="text"],
.LoginContainer input[type="password"],
.LoginContainer button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

.LoginContainer button {
  background-color: #e50914;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.LoginContainer button:hover {
  background-color: #ff3e25;
}

.LoginContainer .logo {
  margin-bottom: 20px;
}

.LoginContainer .form-group {
  text-align: left;
  margin-bottom: 20px;
}

.LoginContainer .form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}

.LoginContainer .form-group input {
  width: calc(100% - 10px);
}

.LoginContainer .footer {
  margin-top: 20px;
  font-size: 14px;
}

.LoginContainer .footer a {
  color: #999;
}

.LoginContainer .footer a:hover {
  color: #fff;
}
